.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.square{
  padding: 0;
  margin: 0;
  width: 150px;
  height: 150px;
  background-color:aliceblue ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  font-size: 2em;
}
.board{
  display: grid;
  grid-template-columns: 150px 150px 150px;
}